<link rel="stylesheet" href="/css/user_profile.css">
<h1>
    <%=title%> Profile
</h1>

<%if(profile_user.avatar){%>
    <img src="<%=profile_user.avatar%>" alt="Image not Found" width="100">
    <%}%>



        <%if(user.id==profile_user.id){%>
            <!-- if user matches then show the form -->
            <form action="/users/update/<%= profile_user.id%>" method="POST" enctype="multipart/form-data">
                <input type="text" name="name" placeholder="Your Name" value="<%=profile_user.name%>" required>
                <input type="email" name="email" placeholder="Your Email" value="<%=profile_user.email%>" required>
                <input type="file" name="avatar" placeholder="Profle Picture">
                <button type="submit">Update</button>
            </form>

            <%}else{%>
                <!-- else only show the profile info -->
                <p>Name is = <%= profile_user.name%>
                </p>
                <p>Email id is = <%=profile_user.email%>
                </p>

                <%}%>